:root {
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-absent: #3a3a3c;
  --color-header-bg: #1a1a1b;
  --color-header-border: #3a3a3c;
  --color-bg: #121213;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--color-tone-7);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
}

#root {
  width: 100%;
  max-width: 500px;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 2px solid var(--color-tone-3);
  outline-offset: 2px;
}

